.title{
    padding-left: 10%;
}

.bloc_graphisme{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.dim_ppgraphisme{
    width: 600px;
    height: 600px;
}

.dim_rb{
    width: 40vw;
}

.txt_right{
    text-align: right;
}

.dim_trippie{
   width: 99vw ;
    height: 100vh;
    padding: 7% 0;
    object-fit: cover;
    object-position: 0 55%;
}

.dim_titre{
    width: 40vw;
}

.goback{
    max-width: 1%;
}

.inner-img {
  transition: 0.5s;
}

.inner-img:hover {
    transform: scale(1.2);
  }

.img-test{
    width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

.img-wrapper {
    min-width: 23%;
    overflow: hidden;
    flex: 1;
  }