.title{
    padding-left: 10%;
}

.bloc_graphisme{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.dim_ppgraphisme{
    width: 600px;
    height: 600px;
}

.dim_rb{
    width: 40vw;
}

.txt_right{
    text-align: right;
}

.dim_trippie{
   width: 99vw ;
    height: 100vh;
    padding: 7% 0;
    object-fit: cover;
    object-position: 0 55%;
}

.dim_titre{
    width: 40vw;
}

.goback{
    max-width: 1%;
}