.tshirt{
    width: 100%;
    height: 96vh;
    padding: 7% 0;
    object-fit: cover;
    object-position: 0 50%;
}

.logosM{
    padding: 7% 0;
    width: 99vw;
}

.made_w{
    text-align: right;
    padding-right: 20%;
    padding-bottom: 5%;
}

/*css de s2graphisme_hypnose.html*/

.lettre{
    width: 100%;
    height: 115vh;
    padding: 7% 0;
    object-fit: cover;
    object-position: 0 47.5%;
}